<!DOCTYPE html>
<html>
<head>
<!-- Load the d3 library. -->
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<style>
body { font-family: "Open sans"; }
</style>
</head>
<body>

<script>
data = {{data|safe}};
console.log(data);
var wi = window
var h = wi.innerHeight;
var w = wi.innerWidth;
var hs = h.toString();

Colors = {};
Colors.names = {
    aqua: "#00ffff",
    azure: "#f0ffff",
    beige: "#f5f5dc",
    blue: "#0000ff",
    brown: "#a52a2a",
    cyan: "#00ffff",
    darkblue: "#00008b",
    darkcyan: "#008b8b",
    darkgrey: "#a9a9a9",
    darkgreen: "#006400",
    darkkhaki: "#bdb76b",
    darkmagenta: "#8b008b",
    darkolivegreen: "#556b2f",
    darkorange: "#ff8c00",
    darkorchid: "#9932cc",
    darkred: "#8b0000",
    darksalmon: "#e9967a",
    darkviolet: "#9400d3",
    fuchsia: "#ff00ff",
    gold: "#ffd700",
    green: "#008000",
    indigo: "#4b0082",
    khaki: "#f0e68c",
    lightblue: "#add8e6",
    lightcyan: "#e0ffff",
    lightgreen: "#90ee90",
    lightgrey: "#d3d3d3",
    lightpink: "#ffb6c1",
    lightyellow: "#ffffe0",
    lime: "#00ff00",
    magenta: "#ff00ff",
    maroon: "#800000",
    navy: "#000080",
    olive: "#808000",
    orange: "#ffa500",
    pink: "#ffc0cb",
    purple: "#800080",
    violet: "#800080",
    red: "#ff0000",
    silver: "#c0c0c0",
    yellow: "#ffff00"
};

Colors.random = function() {
    var result;
    var count = 0;
    for (var prop in this.names)
        if (Math.random() < 1/++count)
           result = prop;
    return result;
};

var suminstances = 0;

//Create overall svg container
var svgCon = d3.select("body").append("svg")
		.attr("height", h)
		.attr("width", w);


//STATIC STUCTURES
var d = 38;
var strokewidth = 5;

//rectangle 1 AWS cloud 
var aws = svgCon.append("rect")
.attr("x", rx1 = w/d)
.attr("y", ry1 = h/d)
.attr("width", (rw1 = w-rx1*2))
.attr("height", (rh2 = h-ry1*2))
.style("stroke", "orange")
.style("stroke-width", strokewidth)
.style("fill-opacity",0.1)
.style("fill", "orange");
svgCon.append("image")
.attr("xlink:href", "static/AWScloud.svg")
.attr("x", rx1 - w/16)
.attr("y", ry1 - h/16)
.attr("width", w/8)
.attr("height", h/8);


//rectangle 2 VPC cloud
var vpc = svgCon.append("rect")
.attr("x", rx2 = rx1+w/d)
.attr("y", ry2 = ry1+h/d)
.attr("width", rw2 = rw1-rx2)
.attr("height", rh2 = rh2-ry2)
.style("stroke", "blue")
.style("stroke-width", strokewidth)
.style("fill-opacity",0.05)
.style("fill", "blue");
svgCon.append("image")
.attr("xlink:href", "static/vpccloud.svg")
.attr("x", rx2 - w/12)
.attr("y", ry2 - h/12)
.attr("width", w/6)
.attr("height", h/6);


//DYNAMIC STRUCTURES
//availability zones 
var az1 = svgCon.append("rect")
.attr("x", rx3 = rx2+w/d)
.attr("y", ry3 = ry2+h/d)
.attr("width", rw3 = rw2-rx2)
.attr("height", rh3 = (rh2-ry2)/2)
.style("stroke", "red")
.style("stroke-dasharray", "5,10,5")
.style("fill-opacity",0.1)
.style("stroke-width", strokewidth)
.style("fill", "red")
.text("SUP");
svgCon.append("text")
.attr("x", rx3)
.attr("y", ry3)
.attr("dy", "1.2em")
.attr("dx", "0.8em")
.style("font-size", "medium")
.style("fill", "red")
.style("text-align", "center")
.text(data[0][0]);

var az2 = svgCon.append("rect")
.attr("x", rx4 = rx2+w/d)
.attr("y", ry4 = ry2+h/d+ rh3)
.attr("width", rw4 = rw2-rx2)
.attr("height", rh4 = (rh2-ry2)/2)
.style("stroke", "red")
.style("stroke-dasharray", "5,10,5")
.style("fill-opacity",0.1)
.style("stroke-width", strokewidth)
.style("fill", "red");
svgCon.append("text")
.attr("x", rx4)
.attr("y", ry4)
.attr("dy", "1.2em")
.attr("dx", "0.8em")
.style("font-size", "medium")
.style("fill", "red")
.style("text-align", "center")
.text(data[1][0]);


//Subnets and Instances. 
//NOTE: It is predicted that the maximum number of instances in a subnet won't 
//exceed 10. If it does, the extras will be drawn past the bottom of the subnet.
var s = d*0.8;
var length1 = data[0].length-1;
var totalgapspace = (length1+1)*s*0.6;
var wsub = (rw3-totalgapspace)/length1;
var hsub = rh3-2*s;
var predmaxinst = 10;
var hpadding = hsub*0.1;
var wpadding = wsub*0.1;
var instwidth = wsub-wsub*0.1;
var instheightandgap = (hsub-2*hpadding)/predmaxinst;
var instgap = instheightandgap*0.15;
var instheight = instheightandgap - instgap;
var colorlist = [];

for (n = 0; n <2; n ++){
    for (i = 1; i < length1+1; i++){
        if (n == 0) {
            var sx = rx3+(i)*(s*0.6) + (i-1)*wsub;
            var sy = ry3+s;
            c = Colors.random();
            colorlist.push(c);
        }
        else{
            var sx = rx4+(i)*(s*0.6) + (i-1)*wsub;
            var sy = ry4+s;
            c = colorlist[i-1];
        }
    	svgCon.append("rect")
    	.attr("x", sx)
    	.attr("y", sy)
    	.attr("width", wsub)
    	.attr("height", hsub)
    	.style("stroke", "black")
    	.style("fill-opacity",0.5)
    	.style("fill", c);
    	var numinstances = data[n][i][1].length;

    	svgCon.append("text")
    	.attr("x", sx)
    	.attr("y", sy)
    	.attr("dy", "1.2em")
    	.attr("dx", "0.8em")
    	.style("font-size", "small")
    	.style("font-style", "italic")
    	.text(data[n][i][0]);
     	for (j = 0; j< numinstances; j++){
     			suminstances += 1;
                svgCon.append("rect")
                .attr("x", xi = sx+wpadding/2)
                .attr("y", yi = sy+ hpadding +j*instheightandgap)
                .attr("width", instwidth)
                .attr("height", instheight)
                .style("fill-opacity",1)
                .style("fill", "darkorange")
                .attr("class", function(s){
                    classname = "";
                    for (k = 0; k< data[n][i][1][j][1].length; k++){
                        classname += (data[n][i][1][j][1][k] + " ");}
                        return classname})
    			.on("mouseover", hoveron)
    			.on("mouseout", hoverout);
                svgCon.append("text")
                .attr("x", xi)
                .attr("y", yi)
                .attr("dy", "1.2em")
                .attr("dx", "0.8em")
                .style("font-size", "x-small")
                .text(data[n][i][1][j][0])
                .attr("class", function(s){
                    classname = "";
                    for (k = 0; k< data[n][i][1][j][1].length; k++){
                        classname += (data[n][i][1][j][1][k] + " ");}
                        return classname })
    			.on("mouseover", hoveron)
    			.on("mouseout", hoverout);
        }
    }
}


function hoveron(d){
    var groups = String(this.getAttribute("class")).split(" ");
    for (i = 0; i < groups.length -1; i++){
        console.log(groups[i])
        d3.selectAll("."+ groups[i]).filter("rect").style("fill", "red");
    }
}


function hoverout(d){
    var groups = String(this.getAttribute("class")).split(" ");
    for (i = 0; i < groups.length -1; i++){
        d3.selectAll("."+ groups[i]).filter("rect").style("fill", "darkorange");
    }
}

console.log(suminstances);

</script>
</body>
</html>







