<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
  </head>
  <body>
    <script type="text/javascript">

d3.xml("static/AWScloud.svg", "image/svg+xml", function(xml) {
  document.body.appendChild(xml.documentElement);
});

    </script>
  </body>
</html>




def ec2_search(environment, action, product):
        reservations = ec2.get_all_instances()
        listed_data = []
        listed_data = [i for r in reservations for i in r.instances
            if i.tags and 'Environment' in i.tags
                and environment in i.tags['Environment']
                and 'Name' in i.tags and product in i.tags['Name']]
        if action == 'get_data':
            cpudict = {}
            new_list = []
            for i in listed_data:
                if i.state == 'running' or i.state == 'terminated':
                    cpu = cw.get_metric_statistics(
                            Period = 120,
                            StartTime = datetime.datetime.utcnow() - datetime.timedelta(seconds=600),
                            EndTime = datetime.datetime.utcnow(),
                            MetricName = 'CPUUtilization',
                            Namespace = 'AWS/EC2',
                            Statistics = ['Average'],
                            Dimensions= [{'Name': 'InstanceId', 'Value': i.id}]
                            )
                    if round(cpu['Datapoints'][0]['Average'],1) < 10.0:
                        i.cpu = round(cpu['Datapoints'][0]['Average'],2)
                        i.name = i.tags['Name']
                        new_list.append(i)
                    else:
                        i.cpu = round(cpu['Datapoints'][0]['Average'],1)
                        i.name = i.tags['Name']
                        new_list.append(i)
                else:
                    # Fake the data if the instances is stopped or terminated
                    i.cpu= 0.0
                    i.name = i.tags['Name']
                    new_list.append(i)
                                #   {u'Datapoints': [{u'Timestamp':
                                #     'date',
                                #    u'Average': 0.0, u'Unit': 'Percent'}],
                                #    u'Label': 'CPUUtilization'}
            #try:
            new_list.sort(key=operator.attrgetter('cpu'))
            #except:
            #    new_list.sort(key=operator.attrgetter('cpu'))
            return len(new_list), new_list
        else:
            return len(listed_data)


for (i=0; i<4; i++){
	
		var rectangle = svgCon.append("rect")
                            .attr("x", 10 + i*10)
                            .attr("y", 10 + i*10)
                            .attr("width", 50)
                            .attr("height", 100);
}




//console.log(data[0][i][0]);

    //  for (j = 0; j< numinstances; j++){
    //      var yi = j*45+sy+15 - (wsub/4-10);
    //      if (yi+ hsub/instscale >= sy+hsub){
    //      svgCon.append("image")
    //      .attr("xlink:href", "static/instance.svg")
    //      .attr("x", (sx + wsub/instscale))
    //      .attr("y", yi)
    //      .attr("width", wsub/instscale)
    //      .attr("height", hsub/instscale);
    //      svgCon.append("text")
    //      .attr("x", sx)
    //      .attr("y", yi)
    //      .attr("dy", "1.2em")
    //      .attr("dx", "0.8em")
    //      .style("font-size", "x-small")
    //      .text(data[0][i][1][j]);
    //      console.log(data[0][i][1][j]);

    //      }
    //      svgCon.append("image")
    //      .attr("xlink:href", "static/instance.svg")
    //      .attr("x", sx)
    //      .attr("y", yi)
    //      .attr("width", wsub/instscale)
    //      .attr("height", hsub/instscale);
    //      svgCon.append("text")
    //      .attr("x", sx)
    //      .attr("y", yi)
    //      .attr("dy", "1.2em")
    //      .attr("dx", "0.8em")
    //      .style("font-size", "x-small")
    //      .text(data[0][i][1][j]);
    //      console.log(data[0][i][1][j]);
    //  }
    //  for (k = 0; k< (numinstances-5); k++){
    //      svgCon.append("image")
    //      .attr("xlink:href", "static/instance.svg")
    //      .attr("x", sx+wsub/instscale)
    //      .attr("y", (k*45+sy+15 - (wsub/4-10)))
    //      .attr("width", wsub/instscale)
    //      .attr("height", hsub/instscale);
    //  }
    // }
    // else{
    //  for (j = 0; j< numinstances; j++){
    //      svgCon.append("image")
    //      .attr("xlink:href", "static/instance.svg")
    //      .attr("x", sx)
    //      .attr("y", yi = (sy+ j*(hsub/instscale*0.5)))
    //      //.attr("y", (j*45+sy+15 - (wsub/4-10)))
    //      .attr("width", wsub/instscale)
    //      .attr("height", hsub/instscale);
    //  }
    // }
    //  if (numinstances>5){
    //  for (j = 0; j< 5; j++){
    //      svgCon.append("image")
    //      .attr("xlink:href", "static/instance.svg")
    //      .attr("x", sx)
    //      .attr("y", yi = (j*45+sy+15 - (wsub/4-10)))
    //      .attr("width", wsub/instscale)
    //      .attr("height", hsub/instscale);
    //      svgCon.append("text")
    //      .attr("x", sx)
    //      .attr("y", yi)
    //      .attr("dy", "1.2em")
    //      .attr("dx", "0.8em")
    //      .style("font-size", "x-small")
    //      .text(data[0][i][1][j]);
    //      //console.log(data[0][i][1][j]);
    //  }
    //  for (k = 0; k< (numinstances-5); k++){
    //      svgCon.append("image")
    //      .attr("xlink:href", "static/instance.svg")
    //      .attr("x", sx+wsub/instscale)
    //      .attr("y", (k*45+sy+15 - (wsub/4-10)))
    //      .attr("width", wsub/instscale)
    //      .attr("height", hsub/instscale);
    //  }
    // }
    // else{
    //  for (j = 0; j< numinstances; j++){
    //      svgCon.append("image")
    //      .attr("xlink:href", "static/instance.svg")
    //      .attr("x", sx)
    //      .attr("y", yi = (sy+ j*(hsub/instscale*0.5)))
    //      //.attr("y", (j*45+sy+15 - (wsub/4-10)))
    //      .attr("width", wsub/instscale)
    //      .attr("height", hsub/instscale);
    //  }
    // }


    <script>
    var length2 = data[1].length-1;
var totalgapspace = (length2+1)*s;
var wsub = (rw4-totalgapspace)/length2;
var hsub = rh4-2*s;

for (i = 1; i < length2+1; i++){
    var sx = rx4+(i)*(s) + (i-1)*wsub;
    var sy = ry4+s;
    svgCon.append("rect")
    .attr("x", sx)
    .attr("y", sy)
    .attr("width", wsub)
    .attr("height", hsub)
    .style("stroke", "black")
    .style("fill-opacity",0.5)
    .style("fill", Colors.random());
    var numinstances = data[1][i][1].length;
    svgCon.append("text")
    .attr("x", sx)
    .attr("y", sy)
    .attr("dy", "1.2em")
    .attr("dx", "0.8em")
    .style("font-size", "x-small")
    .text(data[1][i][0]);
    //console.log(data[0][i][0]);
        for (j = 0; j< numinstances; j++){
            svgCon.append("rect")
            .attr("x", xi = sx+wpadding/2)
            .attr("y", yi = sy+ hpadding +j*instheightandgap)
            //.attr("y", (j*45+sy+15 - (wsub/4-10)))
            .attr("width", instwidth)
            .attr("height", instheight)
            //.style("stroke", "black")
            .style("fill-opacity",1)
            .style("fill", "darkorange");
            svgCon.append("text")
            .attr("x", xi)
            .attr("y", yi)
            .attr("dy", "1.2em")
            .attr("dx", "0.8em")
            .style("font-size", "x-small")
            .text(data[0][i][1][j]);
            console.log(data[0][i][1][j]);
        }
}

    </script>