
        <section id="team">
            <div class="team">
                <div class="container">
                    <div class="text-center wow animated bounceIn" data-wow-delay=".1s">
                        <h2 class="center-title"> <span class="colored-text">MacroFuel</span> Team</h2>
                        <span class="center-border-line"></span>
                        <p class="sub-text">Meet our company</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 margin-bottom30">
                            <div class="team-box wow animated fadeInLeft" data-wow-delay=".1s">
                                <div class="ProfileCardContent">
                                    <div class="background">
                                        <img alt="Augustine Rietsema" src="/assets/biceps-150caeda5c8d51167667903e5c6a1910b6302556c0053091e91e43fc70e995eb.svg" width="200" height="200" />
                                    </div>
                                    <div class="ProfileCardBody">
                                        <div class="ProfileCardTitle">
                                            <h4>Augustine Rietsema</h4>
                                            <h3>Chief Executive Officer</h3>
                                        </div>
                                        <div class="ProfileCardInfo">
                                            <h5 class="regular bio">Mr. Rietsema is a senior in Cornell University’s School of Industrial and Labor Relations. He has a background on political campaigns, where he has served in multiple capacities. In 2012 he was a field organizer for the successful reelection effort of U.S. Congressman Bill Owens. In 2014, he served as the Deputy Finance Director for the Aaron Woolf for Congress campaign, where he oversaw the entire individual donor outreach program.  He has a personal background in fitness and health, and hopes to compete in weightlifting competitions in the near future.
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--team col end-->
                        <div class="col-sm-6 col-md-4 margin-bottom30">
                            <div class="team-box wow animated fadeInLeft" data-wow-delay=".1s">
                                <div class="ProfileCardContent">
                                    <div class="background">
                                        <img alt="Max Tave" src="/assets/megaphone-231471b849fcf293417b90f6d730d149f5f105194de9288997467ef61f4e8caf.svg" width="200" height="200" />
                                    </div>
                                    <div class="ProfileCardBody">
                                        <div class="ProfileCardTitle">
                                            <h4>Max Tave</h4>
                                            <h3>Chief Marketing Officer</h3>
                                        </div>
                                        <div class="ProfileCardInfo">
                                          <h5 class="regular bio">Mr. Tave is a graduate of Cornell University’s School of Hotel Administration and has a background in consumer behavior and entrepreneurship. At Cornell, Mr. Tave was the VP of marketing for the Hotelie Entrepreneurs and also is a hula instructor for the Hawaii Club. This past summer, Mr. Tave focused on marketing and consumer relations for the Hawaii Venture Capital Association where he redesigned their membership structure, managed CRM and retargeting, and increased brand awareness through a dynamic marketing campaign. Mr. Tave will be working in sales and marketing at Red Bull starting this summer.</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--team col end-->
                        <div class="col-sm-6 col-md-4 margin-bottom30">
                            <div class="team-box wow animated fadeInLeft" data-wow-delay=".1s">
                                <div class="ProfileCardContent">
                                    <div class="background">
                                        <img alt="Ilan Filonenko" src="/assets/chip-c3acdb74156e75adff0bbe166ecac4b555e49c29614291381385a44935f958ca.svg" width="200" height="200" />
                                    </div>
                                    <div class="ProfileCardBody">
                                        <div class="ProfileCardTitle">
                                            <h4>Ilan Filonenko</h4>
                                            <h3>Chief Technology Officer</h3>
                                        </div>
                                        <div class="ProfileCardInfo">
                                            <h5 class="regular bio">Mr. Filonenko is a freshman at Cornell University expecting to double major in Computer Science and Operations Research Information Engineering. He is a project manager in one of the Cornell Data Science engineering project teams, a developer in the Cornell App Development engineering project team, and a member of the Entrepreneurship PopShop at Cornell, where he is actively working on two other startups: <a href="http://www.tunetap.com" class="regular" target="_blank">Tunetap</a> and saund.</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--team col end-->
                    </div><!--row-->
                    <div class="row">
                        <div class="col-sm-6 col-md-4 margin-bottom30">
                            <div class="team-box wow animated fadeInLeft" data-wow-delay=".1s">
                                <div class="ProfileCardContent">
                                    <div class="background">
                                        <img alt="John Scheeler" src="/assets/design-add670fdb004b5d1cd2fd6f45530c08cadb83f0e136c05700167fc467c56a9fb.svg" width="200" height="200" />
                                    </div>
                                    <div class="ProfileCardBody">
                                        <div class="ProfileCardTitle">
                                            <h4>John Scheeler</h4>
                                            <h3>Vice President of Design</h3>
                                        </div>
                                        <div class="ProfileCardInfo">
                                            <h5 class="regular bio">Mr. Scheeler is a freshman at Cornell University who has spent the last two years working as a summer user experience and interactions design intern at Google in the Advanced Technologies and Projects group.  While there, he studied consumer purchasing and decision making habits, and designed a platform for Project Ara that aims to reduce the users paradox of choice. Additionally, Mr. Scheeler has experience working as the primary designer for other Cornell based start-ups.</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--team col end-->
                        <div class="col-sm-6 col-md-4 margin-bottom30">
                            <div class="team-box wow animated fadeInLeft" data-wow-delay=".1s">
                                <div class="ProfileCardContent">
                                    <div class="background">
                                        <img alt="Alex Meyers" src="/assets/lightbulb-959585ec353451a540bcb55477b33dc3ab55155da557facf0c2cc3b1d2b8d8bf.svg" width="200" height="200" />
                                    </div>
                                    <div class="ProfileCardBody">
                                        <div class="ProfileCardTitle">
                                            <h4>Alex Meyers</h4>
                                            <h3>Chief Information Officer</h3>
                                        </div>
                                        <div class="ProfileCardInfo">
                                            <h5 class="regular bio">Mr. Meyers is a graduate of Cornell University's School of Arts and Sciences with a degree in Information Science.  He formerly co-founded and managed social media startup <a href="http://www.daapr.com" class="regular" target="_blank">daapr</a> and has extensive experience in web development.  Mr. Meyers is extremely passionate about fitness and healthy lifestyles.  He also works as a Product Manager at <a class="regular" href="http://www.ebay.com" target="_blank">eBay.</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--team col end-->
                    </div><!--row-->
                </div>
            </div><!--team div end-->
        </section><!--team section end-->